.App {
  text-align: center;
  margin: auto;
  max-width: 70%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  font-family: monospace !important;
}

.topBar {
  background-color: #282c34;
  color: white;
}

.navbar-brand {
  margin-left: 1em;
  color: white !important;
}

.post-form {
  margin: auto;
}

.nav-btn {
  margin-left: 1em;
  color: whitesmoke !important;
}

.post-field {
  margin-top: 2em;
  width: 100%
}

.question-field {
  margin-top: 1em;
  width: 100%
}

.title-field {
  height: 2.5em;
  font-size: 1.5em;
  width: 100%
}

.id-field {
  height: 1.5em;
  font-size: 1em;
  width: 100%
}

.title-field::placeholder {
  font-family: monospace;
  padding-left: 0.5em;
}

.post-field::placeholder {
  font-family: monospace;
  padding: 0.5em;
}

.App-body {
  background-color: #282c34;
  color: white;
  padding-top: 2em;
  padding-bottom: 10em;
}

Alert {
  width: 90%;
}

.App-link {
  color: #61dafb;
}

/* B9314F danger */

.btn-link {
  color: #6320EE !important;
}

.btn {
  border-radius: 0% !important;
}

.card {
  border-radius: 0% !important;
}

.btn-outline-primary {
  border-color: #6320EE !important;
  color: #6320EE !important;
}

.btn-primary {
  border-color: #6320EE !important;
  background-color: #6320EE !important;
  color: white;
}

.btn-success, .swal-button--confirm {
  border-color: #AAE935 !important;
  background-color: #AAE935 !important;
  color: black !important;
}

.btn-danger {
  border-color: #B9314F !important;
  background-color: #B9314F !important;
  color: white !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
  background-color: #6320EE !important;
  border-color: #6320EE !important;
  color: white !important;
}

.ama-id {
  font-size: 12px;
}

code {
  color: gray !important;
}